# Ignore environment files
.env

# Ignore text files
*.txt

# Ignore logs and temporary files
*.log
*.temp

# Ignore node_modules and package lock
node_modules/
package-lock.json

# Ignore IDE-specific files
.vscode/
.idea/
